@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Войдите используя свои данные.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Войти</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Забыли пароль?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегистрироватья как новый клиент</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Отправить код подтверждения ещё раз</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Используйте другой сервис авторзации.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Добро пожаловать в салон красоты! Мы стремимся обеспечить максимальную защиту конфиденциальности данных наших клиентов и обязуемся соблюдать следующие условия пользовательского соглашения:
                            <br>
                            <br>
                            1. Мы собираем только те персональные данные, которые необходимы для предоставления услуг по уходу за вами.
                            <br>
                            2. Все собранные данные будут храниться в строгой конфиденциальности и не будут переданы третьим лицам без вашего явного согласия, за исключением случаев, когда это требуется законом.
                            <br>
                            3. Мы принимаем все необходимые меры для защиты ваших данных от несанкционированного доступа, изменения, уничтожения или раскрытия.
                            <br>
                            4. Вам предоставляется право на доступ к вашим персональным данным, а также на их изменение и удаление, если это не нарушит наши обязательства перед законом.
                            <br>
                            5. Мы обязуемся уведомлять вас в случае нарушения конфиденциальности ваших данных.
                            <br>
                            6. Настоящее соглашение регулируется законами и правилами о защите персональных данных, действующими в вашей стране.
                            <br>
                            Мы надеемся, что вы останетесь довольны нашими услугами и уверены в том, что ваша конфиденциальность у нас в надежных руках
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Войдите используя свои данные">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
