@model IEnumerable<PriceList>
@{
	string tilte = "Список всех наших услуг:";
	ViewData["Title"] = tilte;
	int counter = 1;
}
<h2>@tilte</h2>
<hr />
<h3>Поиск по услугам:</h3>
<form asp-action="OurPricelist" method="POST" class="form-group">
	<input class="form-control" name="Name" placeholder="Введите название улсуги" />
	<input class="btn btn-info" type="submit" value="Найти"/>
</form>
<hr />
@if (Model is null)
{
	<div>Услуги отсутствуют</div>
}
else
{
	<table class="table table-hover">
		<thead>
			<tr class="table-info">
				<th>Код услуги</th>
				<th>Название услуги</th>
				<th>Цена услуги</th>
			</tr>
		</thead>
		<tbody>
			@foreach(PriceList p in Model)
			{
				@if (++counter % 2 == 0)
				{
					<tr class="table-primary">
						<td scope="row">
							@Html.DisplayFor(modelItem=>p.ServiceId)
						</td>
						<td>
							@Html.DisplayFor(modelItem=>p.Service)
						</td>
						<td>
							@Html.DisplayFor(modelItem=>p.Price)
						</td>
					</tr>
				}
				else
				{
					<tr class="table-secondary">
						<td scope="row">
							@Html.DisplayFor(modelItem=>p.ServiceId)
						</td>
						<td>
							@Html.DisplayFor(modelItem=>p.Service)
						</td>
						<td>
							@Html.DisplayFor(modelItem=>p.Price)
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
}
